{% extends "bibliovirtual/home.html" %}
    {% block content %}
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">{{user.first_name}}</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'home_url' %}">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Cuenta
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'account_url' %}">Cuenta y configuracion</a>
                      <a class="dropdown-item" href="#">¿Hay algun problema?</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'logout_url' %}">Cerrar sesion</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Clases
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'clase1_url' %}">Clase 1</a>
                      <a class="dropdown-item" href="#">Clase 2</a>
                      <a class="dropdown-item" href="#">Clase 3</a>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </nav>
    <br>
    <br>
    <div class="container" style="border: 2px solid grey;width: 500px;height: 500px;text-align: center;" >
        <h1>Informacion de la cuenta</h1>
        <br>
        <br>
        <h3>D.N.I:</h3>
        <h5>{{user.username}}</h5>
        <br>
        <h3>Nombre:</h3>
        <h5>{{user.first_name}}</h5>
        <br>
        <h3>Apellido:</h3>
        <h5>{{user.last_name}}</h5>
        <br>
        <h3>Mail:</h3>
        <h5>{{user.email}}</h5>
    </div>
    
    {% endblock %}