<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css.css">
    
</head>
<body>
    <div class="bdiv">
        <h2 class="centered">Iniciar sesion</h2>
        <form>
            <div class="sdiv">
                <h3 class="left">D.N.I</h3>
                <p ><input type="number"></p>
                <h3 class="left">Contraseña</h3>
                <p><input type="text"></p>
                <button>Iniciar sesion</button>
            </div>
            <p href="asd.html" class="borderL">Solicitar cuenta</p>
            <p href="asd.html" class="borderR">Recuperar contrseña</p>
        </form>     
    </div>
</body>
</html>