{% extends "bibliovirtual/home.html" %}
{% block content %}
    <div class="container" style="width: 250px;">
            
        <form class="px-4 py-3" method="POST">
            {% csrf_token %}
            {#{ form.as_p}#}
            
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" name="first_name">
                <label>Apellido</label>
                <input type="text" class="form-control" placeholder="Apellido" name="last_name">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" name="email">
                <label>D.N.I</label>
                <input type="number" class="form-control" placeholder="D.N.I" name="username">
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" name="password1" placeholder="contraseña">
                <br>
                <label>Confirmar contraseña</label>
                <input type="password" class="form-control" name="password2" placeholder="repetir contraseña">
            </div>
            {% for err in form.visible_fields %}
                {% if err.errors %}
                <div class="fieldWrapper text-danger">{{ err.errors }}</div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Crear cuenta</button>
            <br>

            <a href="{% url 'login_url' %}">¿Ya tienes una cuenta? Inicia sesion</a>
        </form>
    </div>
{% endblock %}