{% extends "bibliovirtual/home.html" %}
    {% block content %}
      {% load static %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand">{{user.first_name}}</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
              <a class="nav-link" href="{% url 'home_url' %}">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                  <div class="dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cuenta
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'account_url' %}">Cuenta y configuracion</a>
                        <a class="dropdown-item" href="#">¿Hay algun problema?</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout_url' %}">Cerrar sesion</a>
                      </div>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <div class="dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clases
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'clase1_url' %}">Clase 1</a>
                        <a class="dropdown-item" href="#">Clase 2</a>
                        <a class="dropdown-item" href="#">Clase 3</a>
                      </div>
                  </div>
              </li>
              <li class="nav-item dropdown">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Libros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="">Vender libro</a>
                      <a class="dropdown-item" href="">Comprar libro</a>
                    </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Material descargable</a>
              </li>
          </ul>
          </div>
      </nav>
      <br>
      <br>
      <div class="container" style="margin: auto;">
            {% for i in material %}
              {% if i.curso.get_curso == user.alumno.curso.get_curso %}
                {% if i.curso.get_division == user.alumno.curso.get_division %}
                <div class="card" style="width: 250px;margin: auto;display: inline-block;text-align: center;" >
                    <img class="card-img-top" src="{% static "bibliovirtual/asd.jpg" %}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{i.titulo}}</h5>
                    <p class="card-text" style="height: 50px;">{{i.descripcion}}</p>
                    <p class="card-text">{{i.materia}}</p>
                    <p class="card-text">{{i.curso}}</p>
                    <a href="#" class="btn btn-primary">Descargar</a>
                    </div>
                </div>
                {% endif %}
              {% endif %}
            {% endfor %}
      </div>
    {% endblock %}